
.switch-up {
    border: 2px solid;
    color: #FFF;
    background-color: rgb(3, 72, 163);
    text-align: center;
    font-size: 24px;
    padding: 20px 42px;
    position: absolute;
    top: 5%;
    left: 5%;
    cursor: pointer;
    display: inline-block;
    box-shadow: inset 0 0 0 0 #0a7285;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slide_in:hover {
    box-shadow: inset 0 0 0 50px #0a7285;
}